{
  "openapi": "3.1.0",
  "info": {
    "title": "Lob",
    "description": "The Lob API is organized around REST. Our API is designed to have predictable, resource-oriented URLs and uses HTTP response codes to indicate any API errors. <p>\n",
    "contact": {
      "name": "Lob Developer Experience",
      "url": "https://support.lob.com/",
      "email": "lob-openapi@lob.com"
    },
    "version": "1.19.18"
  },
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "servers": [
    {
      "url": "https://api.lob.com/v1",
      "description": "production",
      "variables": {}
    }
  ],
  "paths": {
    "/addresses": {
      "get": {
        "tags": [
          "Addresses"
        ],
        "summary": "addresses_list",
        "description": "Returns a list of your addresses. The addresses are returned sorted by creation date, with the most recently created addresses appearing first.",
        "operationId": "addresses_list",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "How many results to return.",
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 100.0,
              "minimum": 1.0,
              "type": "integer",
              "contentEncoding": "int32",
              "default": 10,
              "examples": [
                10
              ]
            }
          },
          {
            "name": "before/after",
            "in": "query",
            "description": "`before` and `after` are both optional but only one of them can be in the query at a time.",
            "style": "form",
            "explode": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/beforeafter"
                },
                {
                  "description": "`before` and `after` are both optional but only one of them can be in the query at a time."
                }
              ]
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Request that the response include the total count by specifying `include=[\"total_count\"]`.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "date_created",
            "in": "query",
            "description": "Filter by date created. Accepted formats are ISO-8601 date or datetime, e.g. `{ \"gt\": \"2012-01-01\", \"lt\": \"2012-01-31T12:34:56Z\" }` where `gt` is >, `lt` is <, `gte` is ≥, and `lte` is ≤.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          {
            "name": "metadata",
            "in": "query",
            "description": "Filter by metadata key-value pair`.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A dictionary with a data property that contains an array of up to `limit` addresses. Each entry in the array is a separate address object. The previous and next page of address entries can be retrieved by calling the endpoint contained in the `previous_url` and `next_url` fields in the API response respectively.<br>If no more addresses are available beyond the current set of returned results, the `next_url` field will be empty.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/all_addresses"
                    },
                    {
                      "examples": [
                        {
                          "data": [
                            {
                              "id": "adr_e68217bd744d65c8",
                              "description": "Harry - Office",
                              "name": "HARRY ZHANG",
                              "company": "LOB",
                              "phone": "5555555555",
                              "email": "harry@lob.com",
                              "address_line1": "210 KING ST STE 6100",
                              "address_line2": null,
                              "address_city": "SAN FRANCISCO",
                              "address_state": "CA",
                              "address_zip": "94107-1741",
                              "address_country": "UNITED STATES",
                              "metadata": {},
                              "date_created": "2019-08-12T00:16:00.361Z",
                              "date_modified": "2019-08-12T00:16:00.361Z",
                              "object": "address"
                            },
                            {
                              "id": "adr_asdi2y3riuasasoi",
                              "description": "Harry - Office",
                              "name": "Harry Zhang",
                              "company": "Lob",
                              "phone": "5555555555",
                              "email": "harry@lob.com",
                              "metadata": {},
                              "address_line1": "370 WATER ST",
                              "address_line2": "",
                              "address_city": "SUMMERSIDE",
                              "address_state": "PRINCE EDWARD ISLAND",
                              "address_zip": "C1N 1C4",
                              "address_country": "CANADA",
                              "date_created": "2019-09-20T00:14:00.361Z",
                              "date_modified": "2019-09-20T00:14:00.361Z",
                              "object": "address"
                            }
                          ],
                          "object": "list",
                          "next_url": "https://api.lob.com/v1/addresses?limit=2&after=eyJkYXRlT2Zmc2V0IjoiMjAxOS0wOC0wN1QyMTo1OTo0Ni43NjRaIiwiaWRPZmZzZXQiOiJhZHJfODMwYmYwZWFiZGFhYTQwOSJ9",
                          "previous_url": null,
                          "count": 2
                        }
                      ]
                    }
                  ],
                  "contentMediaType": "application/json"
                },
                "example": {
                  "data": [
                    {
                      "id": "adr_e68217bd744d65c8",
                      "description": "Harry - Office",
                      "name": "HARRY ZHANG",
                      "company": "LOB",
                      "phone": "5555555555",
                      "email": "harry@lob.com",
                      "address_line1": "210 KING ST STE 6100",
                      "address_line2": null,
                      "address_city": "SAN FRANCISCO",
                      "address_state": "CA",
                      "address_zip": "94107-1741",
                      "address_country": "UNITED STATES",
                      "metadata": {},
                      "date_created": "2019-08-12T00:16:00.361Z",
                      "date_modified": "2019-08-12T00:16:00.361Z",
                      "object": "address"
                    },
                    {
                      "id": "adr_asdi2y3riuasasoi",
                      "description": "Harry - Office",
                      "name": "Harry Zhang",
                      "company": "Lob",
                      "phone": "5555555555",
                      "email": "harry@lob.com",
                      "metadata": {},
                      "address_line1": "370 WATER ST",
                      "address_line2": "",
                      "address_city": "SUMMERSIDE",
                      "address_state": "PRINCE EDWARD ISLAND",
                      "address_zip": "C1N 1C4",
                      "address_country": "CANADA",
                      "date_created": "2019-09-20T00:14:00.361Z",
                      "date_modified": "2019-09-20T00:14:00.361Z",
                      "object": "address"
                    }
                  ],
                  "object": "list",
                  "next_url": "https://api.lob.com/v1/addresses?limit=2&after=eyJkYXRlT2Zmc2V0IjoiMjAxOS0wOC0wN1QyMTo1OTo0Ni43NjRaIiwiaWRPZmZzZXQiOiJhZHJfODMwYmYwZWFiZGFhYTQwOSJ9",
                  "previous_url": null,
                  "count": 2
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Addresses0Error1"
                    },
                    {
                      "examples": [
                        {
                          "error": {
                            "code": "not_found",
                            "message": "address not found",
                            "status_code": 404
                          }
                        }
                      ]
                    }
                  ],
                  "contentMediaType": "application/json"
                },
                "example": {
                  "error": {
                    "code": "not_found",
                    "message": "address not found",
                    "status_code": 404
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Addresses"
        ],
        "summary": "address_create",
        "description": "Creates a new address given information",
        "operationId": "address_create",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "examples": [
                  "{\"description\":\"Harry - Office\",\"name\":\"Harry Zhang\",\"company\":\"Lob\",\"email\":\"harry@lob.com\",\"phone\":\"5555555555\",\"address_line1\":\"210 King St\",\"address_line2\":\"# 6100\",\"address_city\":\"San Francisco\",\"address_state\":\"CA\",\"address_zip\":\"94107\",\"address_country\":\"US\"}",
                  "{\"description\":\"Harry - Office\",\"name\":\"Harry Zhang\",\"company\":\"Lob\",\"email\":\"harry@lob.com\",\"phone\":\"5555555555\",\"address_line1\":\"NCOA\",\"address_line2\":\"#6100\",\"address_city\":\"San Francisco\",\"address_state\":\"CA\",\"address_zip\":\"94107\",\"address_country\":\"US\"}",
                  "{\"description\":\"Harry - Office\",\"name\":\"Harry Zhang\",\"company\":\"Lob\",\"email\":\"harry@lob.com\",\"phone\":\"5555555555\",\"address_line1\":\"370 WATER ST\",\"address_line2\":\"\",\"address_city\":\"SUMMERSIDE\",\"address_state\":\"PRINCE EDWARD ISLAND\",\"address_zip\":\"C1N 1C4\",\"address_country\":\"CA\"}"
                ],
                "contentMediaType": "application/json"
              },
              "examples": {
                "full_us": {
                  "value": {
                    "description": "Harry - Office",
                    "name": "Harry Zhang",
                    "company": "Lob",
                    "email": "harry@lob.com",
                    "phone": "5555555555",
                    "address_line1": "210 King St",
                    "address_line2": "# 6100",
                    "address_city": "San Francisco",
                    "address_state": "CA",
                    "address_zip": "94107",
                    "address_country": "US"
                  }
                },
                "ncoa_us_test": {
                  "value": {
                    "description": "Harry - Office",
                    "name": "Harry Zhang",
                    "company": "Lob",
                    "email": "harry@lob.com",
                    "phone": "5555555555",
                    "address_line1": "NCOA",
                    "address_line2": "#6100",
                    "address_city": "San Francisco",
                    "address_state": "CA",
                    "address_zip": "94107",
                    "address_country": "US"
                  }
                },
                "full_intl": {
                  "value": {
                    "description": "Harry - Office",
                    "name": "Harry Zhang",
                    "company": "Lob",
                    "email": "harry@lob.com",
                    "phone": "5555555555",
                    "address_line1": "370 WATER ST",
                    "address_line2": "",
                    "address_city": "SUMMERSIDE",
                    "address_state": "PRINCE EDWARD ISLAND",
                    "address_zip": "C1N 1C4",
                    "address_country": "CA"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Echos the writable fields of a newly created address object.",
            "headers": {
              "ratelimit-limit": {
                "description": "The rate limit for a given endpoint.",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "The rate limit for a given endpoint.",
                      "examples": [
                        "150"
                      ],
                      "contentMediaType": "text/plain"
                    },
                    "example": "150"
                  }
                }
              },
              "ratelimit-remaining": {
                "description": "The number of requests remaining in the current window.",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "The number of requests remaining in the current window.",
                      "examples": [
                        "100"
                      ],
                      "contentMediaType": "text/plain"
                    },
                    "example": "100"
                  }
                }
              },
              "ratelimit-reset": {
                "description": "The time at which the rate limit window resets in  <a href=\"https://en.wikipedia.org/wiki/Unix_time\" target=\"_blank\">UTC epoch seconds</a>\n",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "The time at which the rate limit window resets in  <a href=\"https://en.wikipedia.org/wiki/Unix_time\" target=\"_blank\">UTC epoch seconds</a>\n",
                      "examples": [
                        "1528749846"
                      ],
                      "contentMediaType": "text/plain"
                    },
                    "example": "1528749846"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "examples": [
                    "{\"id\":\"adr_d3489cd64c791ab5\",\"description\":\"Harry - Office\",\"name\":\"HARRY ZHANG\",\"company\":\"LOB\",\"phone\":\"5555555555\",\"email\":\"harry@lob.com\",\"address_line1\":\"210 KING ST STE 6100\",\"address_city\":\"SAN FRANCISCO\",\"address_state\":\"CA\",\"address_zip\":\"94107\",\"address_country\":\"UNITED STATES\",\"metadata\":{},\"date_created\":\"2017-09-05T17:47:53.767Z\",\"date_modified\":\"2017-09-05T17:47:53.767Z\",\"object\":\"address\"}",
                    "{\"id\":\"adr_b9f49f464c836203\",\"description\":\"Harry - Office\",\"name\":\"HARRY ZHANG\",\"company\":\"LOB\",\"phone\":\"5555555555\",\"email\":\"harry@lob.com\",\"address_line1\":\"370 WATER ST\",\"address_city\":\"SUMMERSIDE\",\"address_state\":\"PRINCE EDWARD ISLAND\",\"address_zip\":\"C1N 1C4\",\"address_country\":\"CANADA\",\"metadata\":{},\"date_created\":\"2021-11-29T20:55:46.843Z\",\"date_modified\":\"2021-11-29T20:56:46.843Z\",\"object\":\"address\"}",
                    "{\"id\":\"adr_d3489cd64c791ab5\",\"description\":\"Harry - Office\",\"name\":\"HARRY ZHANG\",\"company\":\"LOB\",\"phone\":\"5555555555\",\"email\":\"harry@lob.com\",\"address_line1\":\"████\",\"address_line2\":\"████\",\"address_city\":\"SAN FRANCISCO\",\"address_state\":\"CA\",\"address_zip\":\"94107\",\"address_country\":\"UNITED STATES\",\"metadata\":{},\"date_created\":\"2017-09-05T17:47:53.767Z\",\"date_modified\":\"2017-09-05T17:47:53.767Z\",\"recipient_moved\":true,\"inline\":false,\"object\":\"address\"}",
                    "{\"id\":\"adr_e463565030210e12\",\"description\":null,\"name\":\"TEST KEYS DO NOT VERIFY ADDRESSES\",\"company\":null,\"phone\":null,\"email\":null,\"address_line1\":\"████\",\"address_line2\":\"████\",\"address_city\":\"SAN FRANCISCO\",\"address_state\":\"CA\",\"address_zip\":\"94107\",\"address_country\":\"UNITED STATES\",\"metadata\":{},\"date_created\":\"2019-12-05T19:39:19.932Z\",\"date_modified\":\"2019-12-05T19:39:19.932Z\",\"recipient_moved\":true,\"inline\":false,\"object\":\"address\"}"
                  ],
                  "contentMediaType": "application/json"
                },
                "examples": {
                  "full_us": {
                    "value": {
                      "id": "adr_d3489cd64c791ab5",
                      "description": "Harry - Office",
                      "name": "HARRY ZHANG",
                      "company": "LOB",
                      "phone": "5555555555",
                      "email": "harry@lob.com",
                      "address_line1": "210 KING ST STE 6100",
                      "address_city": "SAN FRANCISCO",
                      "address_state": "CA",
                      "address_zip": "94107",
                      "address_country": "UNITED STATES",
                      "metadata": {},
                      "date_created": "2017-09-05T17:47:53.767Z",
                      "date_modified": "2017-09-05T17:47:53.767Z",
                      "object": "address"
                    }
                  },
                  "full_intl": {
                    "value": {
                      "id": "adr_b9f49f464c836203",
                      "description": "Harry - Office",
                      "name": "HARRY ZHANG",
                      "company": "LOB",
                      "phone": "5555555555",
                      "email": "harry@lob.com",
                      "address_line1": "370 WATER ST",
                      "address_city": "SUMMERSIDE",
                      "address_state": "PRINCE EDWARD ISLAND",
                      "address_zip": "C1N 1C4",
                      "address_country": "CANADA",
                      "metadata": {},
                      "date_created": "2021-11-29T20:55:46.843Z",
                      "date_modified": "2021-11-29T20:56:46.843Z",
                      "object": "address"
                    }
                  },
                  "ncoa_us_live": {
                    "value": {
                      "id": "adr_d3489cd64c791ab5",
                      "description": "Harry - Office",
                      "name": "HARRY ZHANG",
                      "company": "LOB",
                      "phone": "5555555555",
                      "email": "harry@lob.com",
                      "address_line1": "████",
                      "address_line2": "████",
                      "address_city": "SAN FRANCISCO",
                      "address_state": "CA",
                      "address_zip": "94107",
                      "address_country": "UNITED STATES",
                      "metadata": {},
                      "date_created": "2017-09-05T17:47:53.767Z",
                      "date_modified": "2017-09-05T17:47:53.767Z",
                      "recipient_moved": true,
                      "inline": false,
                      "object": "address"
                    }
                  },
                  "ncoa_us_test": {
                    "value": {
                      "id": "adr_e463565030210e12",
                      "description": null,
                      "name": "TEST KEYS DO NOT VERIFY ADDRESSES",
                      "company": null,
                      "phone": null,
                      "email": null,
                      "address_line1": "████",
                      "address_line2": "████",
                      "address_city": "SAN FRANCISCO",
                      "address_state": "CA",
                      "address_zip": "94107",
                      "address_country": "UNITED STATES",
                      "metadata": {},
                      "date_created": "2019-12-05T19:39:19.932Z",
                      "date_modified": "2019-12-05T19:39:19.932Z",
                      "recipient_moved": true,
                      "inline": false,
                      "object": "address"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Addresses0Error1"
                    },
                    {
                      "examples": [
                        {
                          "error": {
                            "code": "not_found",
                            "message": "address not found",
                            "status_code": 404
                          }
                        }
                      ]
                    }
                  ],
                  "contentMediaType": "application/json"
                },
                "example": {
                  "error": {
                    "code": "not_found",
                    "message": "address not found",
                    "status_code": 404
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/addresses/{adr_id}": {
      "get": {
        "tags": [
          "Addresses"
        ],
        "summary": "address_retrieve",
        "description": "Retrieves the details of an existing address. You need only supply the unique identifier that was returned upon address creation.",
        "operationId": "address_retrieve",
        "parameters": [
          {
            "name": "adr_id",
            "in": "path",
            "description": "id of the address",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^adr_[a-zA-Z0-9]+$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an address object if a valid identifier was provided.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/address"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Addresses0Error1"
                    },
                    {
                      "examples": [
                        {
                          "error": {
                            "code": "not_found",
                            "message": "address not found",
                            "status_code": 404
                          }
                        }
                      ]
                    }
                  ],
                  "contentMediaType": "application/json"
                },
                "example": {
                  "error": {
                    "code": "not_found",
                    "message": "address not found",
                    "status_code": 404
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Addresses"
        ],
        "summary": "address_delete",
        "description": "Deletes the details of an existing address. You need only supply the unique identifier that was returned upon address creation.",
        "operationId": "address_delete",
        "parameters": [
          {
            "name": "adr_id",
            "in": "path",
            "description": "id of the address",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^adr_[a-zA-Z0-9]+$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/AddressesResponse1"
                    },
                    {
                      "examples": [
                        {
                          "id": "adr_123456789",
                          "deleted": true
                        }
                      ]
                    }
                  ],
                  "contentMediaType": "application/json"
                },
                "example": {
                  "id": "adr_123456789",
                  "deleted": true
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Addresses0Error1"
                    },
                    {
                      "examples": [
                        {
                          "error": {
                            "code": "not_found",
                            "message": "address not found",
                            "status_code": 404
                          }
                        }
                      ]
                    }
                  ],
                  "contentMediaType": "application/json"
                },
                "example": {
                  "error": {
                    "code": "not_found",
                    "message": "address not found",
                    "status_code": 404
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/bank_accounts/{bank_id}/verify": {
      "post": {
        "tags": [
          "Bank Accounts"
        ],
        "summary": "bank_account_verify",
        "description": "Verify a bank account in order to create a check.",
        "operationId": "bank_account_verify",
        "parameters": [
          {
            "name": "bank_id",
            "in": "path",
            "description": "id of the bank account to be verified",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^bank_[a-zA-Z0-9]+$",
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/Content-Type"
                },
                {}
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": [
                  "amounts"
                ],
                "type": "object",
                "properties": {
                  "amounts": {
                    "maxItems": 2,
                    "minItems": 2,
                    "type": "array",
                    "items": {
                      "maximum": 100.0,
                      "minimum": 1.0,
                      "type": "integer",
                      "contentEncoding": "int32"
                    },
                    "description": "In live mode, an array containing the two micro deposits (in cents) placed in the bank account. In test mode, no micro deposits will be placed, so any two integers between `1` and `100` will work.",
                    "examples": [
                      [
                        1,
                        100
                      ]
                    ]
                  }
                },
                "contentMediaType": "application/x-www-form-urlencoded"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Returns a bank_account object",
            "headers": {
              "ratelimit-limit": {
                "description": "The rate limit for a given endpoint.",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "The rate limit for a given endpoint.",
                      "examples": [
                        "150"
                      ],
                      "contentMediaType": "text/plain"
                    },
                    "example": "150"
                  }
                }
              },
              "ratelimit-remaining": {
                "description": "The number of requests remaining in the current window.",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "The number of requests remaining in the current window.",
                      "examples": [
                        "100"
                      ],
                      "contentMediaType": "text/plain"
                    },
                    "example": "100"
                  }
                }
              },
              "ratelimit-reset": {
                "description": "The time at which the rate limit window resets in  <a href=\"https://en.wikipedia.org/wiki/Unix_time\" target=\"_blank\">UTC epoch seconds</a>\n",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "The time at which the rate limit window resets in  <a href=\"https://en.wikipedia.org/wiki/Unix_time\" target=\"_blank\">UTC epoch seconds</a>\n",
                      "examples": [
                        "1528749846"
                      ],
                      "contentMediaType": "text/plain"
                    },
                    "example": "1528749846"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/bank_account"
                    },
                    {
                      "examples": [
                        {
                          "id": "bank_8cad8df5354d33f",
                          "signature_url": "https://lob-assets.com/letters/asd_asdfghjklqwertyu.pdf?version=45&expires=1234567890&signature=a",
                          "description": "Test Bank Account",
                          "metadata": {},
                          "routing_number": "322271627",
                          "fractional_routing_number": "25-3/440",
                          "check_template": "jpm",
                          "account_number": "123456789",
                          "account_type": "company",
                          "signatory": "John Doe",
                          "bank_name": "J.P. MORGAN CHASE BANK, N.A.,",
                          "bank_city": "Columbus",
                          "bank_state": "OH",
                          "bank_zip": "43240",
                          "verified": false,
                          "date_created": "2015-11-06T19:24:24.440Z",
                          "date_modified": "2015-11-06T19:24:24.440Z",
                          "object": "bank_account"
                        }
                      ]
                    }
                  ],
                  "contentMediaType": "application/json"
                },
                "example": {
                  "id": "bank_8cad8df5354d33f",
                  "signature_url": "https://lob-assets.com/letters/asd_asdfghjklqwertyu.pdf?version=45&expires=1234567890&signature=a",
                  "description": "Test Bank Account",
                  "metadata": {},
                  "routing_number": "322271627",
                  "fractional_routing_number": "25-3/440",
                  "check_template": "jpm",
                  "account_number": "123456789",
                  "account_type": "company",
                  "signatory": "John Doe",
                  "bank_name": "J.P. MORGAN CHASE BANK, N.A.,",
                  "bank_city": "Columbus",
                  "bank_state": "OH",
                  "bank_zip": "43240",
                  "verified": false,
                  "date_created": "2015-11-06T19:24:24.440Z",
                  "date_modified": "2015-11-06T19:24:24.440Z",
                  "object": "bank_account"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BankAccountsVerify0Error1"
                    },
                    {
                      "examples": [
                        {
                          "error": {
                            "code": "invalid",
                            "message": "routing_number is required",
                            "status_code": 422
                          }
                        }
                      ]
                    }
                  ],
                  "contentMediaType": "application/json"
                },
                "example": {
                  "error": {
                    "code": "invalid",
                    "message": "routing_number is required",
                    "status_code": 422
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/bank_accounts/{bank_id}": {
      "get": {
        "tags": [
          "Bank Accounts"
        ],
        "summary": "bank_account_retrieve",
        "description": "Retrieves the details of an existing bank account. You need only supply the unique bank account identifier that was returned upon bank account creation.",
        "operationId": "bank_account_retrieve",
        "parameters": [
          {
            "name": "bank_id",
            "in": "path",
            "description": "id of the bank account",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^bank_[a-zA-Z0-9]+$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a bank account object",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/bank_account"
                    },
                    {
                      "examples": [
                        {
                          "id": "bank_8cad8df5354d33f",
                          "signature_url": "https://lob-assets.com/letters/asd_asdfghjklqwertyu.pdf?version=45&expires=1234567890&signature=a",
                          "description": "Test Bank Account",
                          "metadata": {},
                          "routing_number": "322271627",
                          "fractional_routing_number": "25-3/440",
                          "check_template": "jpm",
                          "account_number": "123456789",
                          "account_type": "company",
                          "signatory": "John Doe",
                          "bank_name": "J.P. MORGAN CHASE BANK, N.A.,",
                          "bank_city": "Columbus",
                          "bank_state": "OH",
                          "bank_zip": "43240",
                          "verified": false,
                          "date_created": "2015-11-06T19:24:24.440Z",
                          "date_modified": "2015-11-06T19:24:24.440Z",
                          "object": "bank_account"
                        }
                      ]
                    }
                  ],
                  "contentMediaType": "application/json"
                },
                "example": {
                  "id": "bank_8cad8df5354d33f",
                  "signature_url": "https://lob-assets.com/letters/asd_asdfghjklqwertyu.pdf?version=45&expires=1234567890&signature=a",
                  "description": "Test Bank Account",
                  "metadata": {},
                  "routing_number": "322271627",
                  "fractional_routing_number": "25-3/440",
                  "check_template": "jpm",
                  "account_number": "123456789",
                  "account_type": "company",
                  "signatory": "John Doe",
                  "bank_name": "J.P. MORGAN CHASE BANK, N.A.,",
                  "bank_city": "Columbus",
                  "bank_state": "OH",
                  "bank_zip": "43240",
                  "verified": false,
                  "date_created": "2015-11-06T19:24:24.440Z",
                  "date_modified": "2015-11-06T19:24:24.440Z",
                  "object": "bank_account"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BankAccounts0Error1"
                    },
                    {
                      "examples": [
                        {
                          "error": {
                            "code": "invalid",
                            "message": "routing_number is required",
                            "status_code": 422
                          }
                        }
                      ]
                    }
                  ],
                  "contentMediaType": "application/json"
                },
                "example": {
                  "error": {
                    "code": "invalid",
                    "message": "routing_number is required",
                    "status_code": 422
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Bank Accounts"
        ],
        "summary": "bank_account_delete",
        "description": "Permanently deletes a bank account. It cannot be undone.",
        "operationId": "bank_account_delete",
        "parameters": [
          {
            "name": "bank_id",
            "in": "path",
            "description": "id of the bank account",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^bank_[a-zA-Z0-9]+$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BankAccountsResponse1"
                    },
                    {
                      "examples": [
                        {
                          "id": "bank_123456789",
                          "deleted": true
                        }
                      ]
                    }
                  ],
                  "contentMediaType": "application/json"
                },
                "example": {
                  "id": "bank_123456789",
                  "deleted": true
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BankAccounts0Error1"
                    },
                    {
                      "examples": [
                        {
                          "error": {
                            "code": "invalid",
                            "message": "routing_number is required",
                            "status_code": 422
                          }
                        }
                      ]
                    }
                  ],
                  "contentMediaType": "application/json"
                },
                "example": {
                  "error": {
                    "code": "invalid",
                    "message": "routing_number is required",
                    "status_code": 422
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/bank_accounts": {
      "get": {
        "tags": [
          "Bank Accounts"
        ],
        "summary": "bank_accounts_list",
        "description": "Returns a list of your bank accounts. The bank accounts are returned sorted by creation date, with the most recently created bank accounts appearing first.",
        "operationId": "bank_accounts_list",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "How many results to return.",
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 100.0,
              "minimum": 1.0,
              "type": "integer",
              "contentEncoding": "int32",
              "default": 10,
              "examples": [
                10
              ]
            }
          },
          {
            "name": "before/after",
            "in": "query",
            "description": "`before` and `after` are both optional but only one of them can be in the query at a time.",
            "style": "form",
            "explode": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/beforeafter"
                },
                {
                  "description": "`before` and `after` are both optional but only one of them can be in the query at a time."
                }
              ]
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Request that the response include the total count by specifying `include=[\"total_count\"]`.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "date_created",
            "in": "query",
            "description": "Filter by date created. Accepted formats are ISO-8601 date or datetime, e.g. `{ \"gt\": \"2012-01-01\", \"lt\": \"2012-01-31T12:34:56Z\" }` where `gt` is >, `lt` is <, `gte` is ≥, and `lte` is ≤.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          {
            "name": "metadata",
            "in": "query",
            "description": "Filter by metadata key-value pair`.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A dictionary with a data property that contains an array of up to `limit` bank_accounts. Each entry in the array is a separate bank_account. The previous and next page of bank_accounts can be retrieved by calling the endpoint contained in the `previous_url` and `next_url` fields in the API response respectively.<br>If no more bank_accounts are available beyond the current set of returned results, the `next_url` field will be empty.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/all_bank_accounts"
                    },
                    {
                      "examples": [
                        {
                          "data": [
                            {
                              "id": "bank_0e3fb07eba0b35b",
                              "signature_url": "https://lob-assets.com/letters/asd_asdfghjklqwertyu.pdf?version=45&expires=1234567890&signature=a",
                              "description": "Example bank account",
                              "metadata": {},
                              "routing_number": "122100024",
                              "account_number": "1234564789",
                              "account_type": "company",
                              "signatory": "John Doe",
                              "bank_name": "JPMORGAN CHASE BANK, NA",
                              "verified": true,
                              "date_created": "2019-03-30T13:13:22.200Z",
                              "date_modified": "2019-03-30T13:13:23.385Z",
                              "object": "bank_account"
                            },
                            {
                              "id": "bank_eba93f7de3c02d9",
                              "description": "Example bank account",
                              "metadata": {},
                              "routing_number": "122100024",
                              "account_number": "1234564789",
                              "account_type": "company",
                              "signatory": "John Doe",
                              "bank_name": "JPMORGAN CHASE BANK, NA",
                              "verified": true,
                              "date_created": "2019-03-30T13:11:06.809Z",
                              "date_modified": "2019-03-30T13:11:07.872Z",
                              "object": "bank_account"
                            }
                          ],
                          "object": "list",
                          "next_url": "https://api.lob.com/v1/bank_accounts?limit=2&after=eyJkYXRlT2Zmc2V0IjoiMjAxOS0wMy0zMFQxMzoxMTowNi44MDlaIiwiaWRPZmZzZXQiOiJiYW5rX2ViYTkzZjdkZTNjMDJkOSJ9",
                          "previous_url": null,
                          "count": 2
                        }
                      ]
                    }
                  ],
                  "contentMediaType": "application/json"
                },
                "example": {
                  "data": [
                    {
                      "id": "bank_0e3fb07eba0b35b",
                      "signature_url": "https://lob-assets.com/letters/asd_asdfghjklqwertyu.pdf?version=45&expires=1234567890&signature=a",
                      "description": "Example bank account",
                      "metadata": {},
                      "routing_number": "122100024",
                      "account_number": "1234564789",
                      "account_type": "company",
                      "signatory": "John Doe",
                      "bank_name": "JPMORGAN CHASE BANK, NA",
                      "verified": true,
                      "date_created": "2019-03-30T13:13:22.200Z",
                      "date_modified": "2019-03-30T13:13:23.385Z",
                      "object": "bank_account"
                    },
                    {
                      "id": "bank_eba93f7de3c02d9",
                      "description": "Example bank account",
                      "metadata": {},
                      "routing_number": "122100024",
                      "account_number": "1234564789",
                      "account_type": "company",
                      "signatory": "John Doe",
                      "bank_name": "JPMORGAN CHASE BANK, NA",
                      "verified": true,
                      "date_created": "2019-03-30T13:11:06.809Z",
                      "date_modified": "2019-03-30T13:11:07.872Z",
                      "object": "bank_account"
                    }
                  ],
                  "object": "list",
                  "next_url": "https://api.lob.com/v1/bank_accounts?limit=2&after=eyJkYXRlT2Zmc2V0IjoiMjAxOS0wMy0zMFQxMzoxMTowNi44MDlaIiwiaWRPZmZzZXQiOiJiYW5rX2ViYTkzZjdkZTNjMDJkOSJ9",
                  "previous_url": null,
                  "count": 2
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BankAccounts0Error1"
                    },
                    {
                      "examples": [
                        {
                          "error": {
                            "code": "invalid",
                            "message": "routing_number is required",
                            "status_code": 422
                          }
                        }
                      ]
                    }
                  ],
                  "contentMediaType": "application/json"
                },
                "example": {
                  "error": {
                    "code": "invalid",
                    "message": "routing_number is required",
                    "status_code": 422
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Bank Accounts"
        ],
        "summary": "bank_account_create",
        "description": "Creates a new bank account with the provided properties. Bank accounts created in live mode will need to be verified via micro deposits before being able to send live checks. The deposits will appear in the bank account in 2-3 business days and have the description \"VERIFICATION\".",
        "operationId": "bank_account_create",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/Content-Type"
                },
                {}
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": [
                  "routing_number",
                  "account_number",
                  "account_type",
                  "signatory"
                ],
                "type": "object",
                "properties": {
                  "routing_number": {
                    "maxLength": 9,
                    "minLength": 9,
                    "type": "string",
                    "description": "Must be a <a href=\"https://www.frbservices.org/index.html\" target=\"_blank\">valid US routing number</a>.",
                    "examples": [
                      "322271627"
                    ]
                  },
                  "account_number": {
                    "maxLength": 17,
                    "type": "string",
                    "examples": [
                      "123456789"
                    ]
                  },
                  "account_type": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/AccountType"
                      },
                      {}
                    ]
                  },
                  "signatory": {
                    "maxLength": 30,
                    "type": "string",
                    "description": "The signatory associated with your account. This name will be printed on checks created with this bank account. If you prefer to use a custom signature image on your checks instead, please create your bank account from the <a href=\"https://dashboard.lob.com/#/login\" target=\"_blank\">Dashboard</a>.",
                    "examples": [
                      "Jane Doe"
                    ]
                  },
                  "description": {
                    "maxLength": 255,
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "An internal description that identifies this resource. Must be no longer than 255 characters.",
                    "examples": [
                      "Test Bank Account"
                    ]
                  },
                  "check_template": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/CheckTemplate"
                      },
                      {}
                    ]
                  },
                  "fractional_routing_number": {
                    "type": "string",
                    "description": "The fractional routing number for your home bank account. Required for the `jpm` check template only. Please contact a bank representative if you do not know the fractional routing number associated with your home bank institution."
                  },
                  "city": {
                    "type": "string",
                    "description": "The city associated with your home bank account. Required for the `jpm` check template only. Please contact a bank representative if you do not know the city associated with your home bank institution."
                  },
                  "state": {
                    "type": "string",
                    "description": "The state associated with your home bank account. Required for the `jpm` check template only. Please contact a bank representative if you do not know the state associated with your home bank institution."
                  },
                  "zipcode": {
                    "type": "string",
                    "description": "The zipcode associated with your home bank account. Required for the `jpm` check template only. Please contact a bank representative if you do not know the zipcode associated with your home bank institution."
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Use metadata to store custom information for tagging and labeling back to your internal systems. Must be an object with up to 20 key-value pairs. Keys must be at most 40 characters and values must be at most 500 characters. Neither can contain the characters `\"` and `\\`. i.e. '{\"customer_id\" : \"NEWYORK2015\"}' Nested objects are not supported.  See [Metadata](#section/Metadata) for more information."
                  }
                },
                "contentMediaType": "application/x-www-form-urlencoded"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Returns a bank_account object",
            "headers": {
              "ratelimit-limit": {
                "description": "The rate limit for a given endpoint.",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "The rate limit for a given endpoint.",
                      "examples": [
                        "150"
                      ],
                      "contentMediaType": "text/plain"
                    },
                    "example": "150"
                  }
                }
              },
              "ratelimit-remaining": {
                "description": "The number of requests remaining in the current window.",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "The number of requests remaining in the current window.",
                      "examples": [
                        "100"
                      ],
                      "contentMediaType": "text/plain"
                    },
                    "example": "100"
                  }
                }
              },
              "ratelimit-reset": {
                "description": "The time at which the rate limit window resets in  <a href=\"https://en.wikipedia.org/wiki/Unix_time\" target=\"_blank\">UTC epoch seconds</a>\n",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "The time at which the rate limit window resets in  <a href=\"https://en.wikipedia.org/wiki/Unix_time\" target=\"_blank\">UTC epoch seconds</a>\n",
                      "examples": [
                        "1528749846"
                      ],
                      "contentMediaType": "text/plain"
                    },
                    "example": "1528749846"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/bank_account"
                    },
                    {
                      "examples": [
                        {
                          "id": "bank_8cad8df5354d33f",
                          "signature_url": "https://lob-assets.com/letters/asd_asdfghjklqwertyu.pdf?version=45&expires=1234567890&signature=a",
                          "description": "Test Bank Account",
                          "metadata": {},
                          "routing_number": "322271627",
                          "fractional_routing_number": "25-3/440",
                          "check_template": "jpm",
                          "account_number": "123456789",
                          "account_type": "company",
                          "signatory": "John Doe",
                          "bank_name": "J.P. MORGAN CHASE BANK, N.A.,",
                          "bank_city": "Columbus",
                          "bank_state": "OH",
                          "bank_zip": "43240",
                          "verified": false,
                          "date_created": "2015-11-06T19:24:24.440Z",
                          "date_modified": "2015-11-06T19:24:24.440Z",
                          "object": "bank_account"
                        }
                      ]
                    }
                  ],
                  "contentMediaType": "application/json"
                },
                "example": {
                  "id": "bank_8cad8df5354d33f",
                  "signature_url": "https://lob-assets.com/letters/asd_asdfghjklqwertyu.pdf?version=45&expires=1234567890&signature=a",
                  "description": "Test Bank Account",
                  "metadata": {},
                  "routing_number": "322271627",
                  "fractional_routing_number": "25-3/440",
                  "check_template": "jpm",
                  "account_number": "123456789",
                  "account_type": "company",
                  "signatory": "John Doe",
                  "bank_name": "J.P. MORGAN CHASE BANK, N.A.,",
                  "bank_city": "Columbus",
                  "bank_state": "OH",
                  "bank_zip": "43240",
                  "verified": false,
                  "date_created": "2015-11-06T19:24:24.440Z",
                  "date_modified": "2015-11-06T19:24:24.440Z",
                  "object": "bank_account"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BankAccounts0Error1"
                    },
                    {
                      "examples": [
                        {
                          "error": {
                            "code": "invalid",
                            "message": "routing_number is required",
                            "status_code": 422
                          }
                        }
                      ]
                    }
                  ],
                  "contentMediaType": "application/json"
                },
                "example": {
                  "error": {
                    "code": "invalid",
                    "message": "routing_number is required",
                    "status_code": 422
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/billing_groups/{bg_id}": {
      "get": {
        "tags": [
          "Billing Groups"
        ],
        "summary": "billing_group_retrieve",
        "description": "Retrieves the details of an existing billing_group. You need only supply the unique billing_group identifier that was returned upon billing_group creation.",
        "operationId": "billing_group_retrieve",
        "parameters": [
          {
            "name": "bg_id",
            "in": "path",
            "description": "id of the billing_group",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^bg_[a-zA-Z0-9]+$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a billing_group object.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/billing_group"
                    },
                    {
                      "examples": [
                        {
                          "id": "bg_c94e83ca2cd5121",
                          "name": "Marketing Dept",
                          "description": "Usage group used for the Marketing Dept resource sends",
                          "date_created": "2017-11-07T22:56:10.962Z",
                          "date_modified": "2017-11-07T22:56:10.962Z",
                          "object": "billing_group"
                        }
                      ]
                    }
                  ],
                  "contentMediaType": "application/json"
                },
                "example": {
                  "id": "bg_c94e83ca2cd5121",
                  "name": "Marketing Dept",
                  "description": "Usage group used for the Marketing Dept resource sends",
                  "date_created": "2017-11-07T22:56:10.962Z",
                  "date_modified": "2017-11-07T22:56:10.962Z",
                  "object": "billing_group"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BillingGroups0Error1"
                    },
                    {
                      "examples": [
                        {
                          "error": {
                            "code": "not_found",
                            "message": "billing_group not found",
                            "status_code": 404
                          }
                        }
                      ]
                    }
                  ],
                  "contentMediaType": "application/json"
                },
                "example": {
                  "error": {
                    "code": "not_found",
                    "message": "billing_group not found",
                    "status_code": 404
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Billing Groups"
        ],
        "summary": "billing_group_update",
        "description": "Updates all editable attributes of the billing_group with the given id.",
        "operationId": "billing_group_update",
        "parameters": [
          {
            "name": "bg_id",
            "in": "path",
            "description": "id of the billing_group",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^bg_[a-zA-Z0-9]+$",
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/Content-Type"
                },
                {}
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "type": "object",
                "properties": {
                  "description": {
                    "maxLength": 255,
                    "type": "string",
                    "description": "Description of the billing group.",
                    "examples": [
                      "Usage group used for the Marketing Dept resource sends"
                    ]
                  },
                  "name": {
                    "maxLength": 255,
                    "type": "string",
                    "description": "Name of the billing group.",
                    "examples": [
                      "Marketing Dept"
                    ]
                  }
                },
                "contentMediaType": "application/x-www-form-urlencoded"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Returns a billing group object",
            "headers": {
              "ratelimit-limit": {
                "description": "The rate limit for a given endpoint.",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "The rate limit for a given endpoint.",
                      "examples": [
                        "150"
                      ],
                      "contentMediaType": "text/plain"
                    },
                    "example": "150"
                  }
                }
              },
              "ratelimit-remaining": {
                "description": "The number of requests remaining in the current window.",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "The number of requests remaining in the current window.",
                      "examples": [
                        "100"
                      ],
                      "contentMediaType": "text/plain"
                    },
                    "example": "100"
                  }
                }
              },
              "ratelimit-reset": {
                "description": "The time at which the rate limit window resets in  <a href=\"https://en.wikipedia.org/wiki/Unix_time\" target=\"_blank\">UTC epoch seconds</a>\n",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "The time at which the rate limit window resets in  <a href=\"https://en.wikipedia.org/wiki/Unix_time\" target=\"_blank\">UTC epoch seconds</a>\n",
                      "examples": [
                        "1528749846"
                      ],
                      "contentMediaType": "text/plain"
                    },
                    "example": "1528749846"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/billing_group"
                    },
                    {
                      "examples": [
                        {
                          "id": "bg_c94e83ca2cd5121",
                          "name": "Marketing Dept",
                          "description": "Usage group used for the Marketing Dept resource sends",
                          "date_created": "2017-11-07T22:56:10.962Z",
                          "date_modified": "2017-11-07T22:56:10.962Z",
                          "object": "billing_group"
                        }
                      ]
                    }
                  ],
                  "contentMediaType": "application/json"
                },
                "example": {
                  "id": "bg_c94e83ca2cd5121",
                  "name": "Marketing Dept",
                  "description": "Usage group used for the Marketing Dept resource sends",
                  "date_created": "2017-11-07T22:56:10.962Z",
                  "date_modified": "2017-11-07T22:56:10.962Z",
                  "object": "billing_group"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BillingGroups0Error1"
                    },
                    {
                      "examples": [
                        {
                          "error": {
                            "code": "invalid",
                            "message": "message about incorrect parameter",
                            "status_code": 422
                          }
                        }
                      ]
                    }
                  ],
                  "contentMediaType": "application/json"
                },
                "example": {
                  "error": {
                    "code": "invalid",
                    "message": "message about incorrect parameter",
                    "status_code": 422
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/billing_groups": {
      "get": {
        "tags": [
          "Billing Groups"
        ],
        "summary": "billing_groups_list",
        "description": "Returns a list of your billing_groups. The billing_groups are returned sorted by creation date, with the most recently created billing_groups appearing first.",
        "operationId": "billing_groups_list",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "How many results to return.",
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 100.0,
              "minimum": 1.0,
              "type": "integer",
              "contentEncoding": "int32",
              "default": 10,
              "examples": [
                10
              ]
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "An integer that designates the offset at which to begin returning results. Defaults to 0.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "contentEncoding": "int32",
              "default": 0
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Request that the response include the total count by specifying `include=[\"total_count\"]`.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "date_created",
            "in": "query",
            "description": "Filter by date created. Accepted formats are ISO-8601 date or datetime, e.g. `{ \"gt\": \"2012-01-01\", \"lt\": \"2012-01-31T12:34:56Z\" }` where `gt` is >, `lt` is <, `gte` is ≥, and `lte` is ≤.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          {
            "name": "date_modified",
            "in": "query",
            "description": "Filter by date modified. Accepted formats are ISO-8601 date or datetime, e.g. `{ \"gt\": \"2012-01-01\", \"lt\": \"2012-01-31T12:34:56Z\" }` where `gt` is >, `lt` is <, `gte` is ≥, and `lte` is ≤.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Sorts items by ascending or descending dates. Use either `date_created` or `date_modified`, not both.",
            "style": "form",
            "explode": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/sort_by"
                },
                {
                  "description": "Sorts items by ascending or descending dates. Use either `date_created` or `date_modified`, not both."
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of billing_groups.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BillingGroupsResponse"
                    },
                    {
                      "examples": [
                        {
                          "data": [
                            {
                              "id": "bg_d5a5a89da9106f8",
                              "description": "Test billing_group",
                              "metadata": {},
                              "date_created": "2019-07-27T23:49:01.511Z",
                              "date_modified": "2019-07-27T23:49:01.511Z",
                              "object": "billing_group"
                            },
                            {
                              "id": "bg_59b2150ae120887",
                              "description": "Test billing_group",
                              "metadata": {},
                              "date_created": "2019-03-29T10:22:34.642Z",
                              "date_modified": "2019-03-29T10:22:34.642Z",
                              "object": "billing_group"
                            }
                          ],
                          "object": "list",
                          "next_url": null,
                          "prev_url": null,
                          "count": 2
                        }
                      ]
                    }
                  ],
                  "contentMediaType": "application/json"
                },
                "example": {
                  "data": [
                    {
                      "id": "bg_d5a5a89da9106f8",
                      "description": "Test billing_group",
                      "metadata": {},
                      "date_created": "2019-07-27T23:49:01.511Z",
                      "date_modified": "2019-07-27T23:49:01.511Z",
                      "object": "billing_group"
                    },
                    {
                      "id": "bg_59b2150ae120887",
                      "description": "Test billing_group",
                      "metadata": {},
                      "date_created": "2019-03-29T10:22:34.642Z",
                      "date_modified": "2019-03-29T10:22:34.642Z",
                      "object": "billing_group"
                    }
                  ],
                  "object": "list",
                  "next_url": null,
                  "prev_url": null,
                  "count": 2
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BillingGroups0Error1"
                    },
                    {
                      "examples": [
                        {
                          "error": {
                            "code": "not_found",
                            "message": "billing_group not found",
                            "status_code": 404
                          }
                        }
                      ]
                    }
                  ],
                  "contentMediaType": "application/json"
                },
                "example": {
                  "error": {
                    "code": "not_found",
                    "message": "billing_group not found",
                    "status_code": 404
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Billing Groups"
        ],
        "summary": "billing_group_create",
        "description": "Creates a new billing_group with the provided properties.",
        "operationId": "billing_group_create",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/billing_group_editable"
                  },
                  {
                    "examples": [
                      {
                        "name": "Marketing Dept",
                        "description": "Usage group used for the Marketing Dept resource sends"
                      }
                    ]
                  }
                ],
                "contentMediaType": "application/json"
              },
              "example": {
                "name": "Marketing Dept",
                "description": "Usage group used for the Marketing Dept resource sends"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns a billing group object",
            "headers": {
              "ratelimit-limit": {
                "description": "The rate limit for a given endpoint.",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "The rate limit for a given endpoint.",
                      "examples": [
                        "150"
                      ],
                      "contentMediaType": "text/plain"
                    },
                    "example": "150"
                  }
                }
              },
              "ratelimit-remaining": {
                "description": "The number of requests remaining in the current window.",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "The number of requests remaining in the current window.",
                      "examples": [
                        "100"
                      ],
                      "contentMediaType": "text/plain"
                    },
                    "example": "100"
                  }
                }
              },
              "ratelimit-reset": {
                "description": "The time at which the rate limit window resets in  <a href=\"https://en.wikipedia.org/wiki/Unix_time\" target=\"_blank\">UTC epoch seconds</a>\n",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "The time at which the rate limit window resets in  <a href=\"https://en.wikipedia.org/wiki/Unix_time\" target=\"_blank\">UTC epoch seconds</a>\n",
                      "examples": [
                        "1528749846"
                      ],
                      "contentMediaType": "text/plain"
                    },
                    "example": "1528749846"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/billing_group"
                    },
                    {
                      "examples": [
                        {
                          "id": "bg_c94e83ca2cd5121",
                          "name": "Marketing Dept",
                          "description": "Usage group used for the Marketing Dept resource sends",
                          "date_created": "2017-11-07T22:56:10.962Z",
                          "date_modified": "2017-11-07T22:56:10.962Z",
                          "object": "billing_group"
                        }
                      ]
                    }
                  ],
                  "contentMediaType": "application/json"
                },
                "example": {
                  "id": "bg_c94e83ca2cd5121",
                  "name": "Marketing Dept",
                  "description": "Usage group used for the Marketing Dept resource sends",
                  "date_created": "2017-11-07T22:56:10.962Z",
                  "date_modified": "2017-11-07T22:56:10.962Z",
                  "object": "billing_group"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BillingGroups0Error1"
                    },
                    {
                      "examples": [
                        {
                          "error": {
                            "code": "invalid",
                            "message": "message about incorrect parameter",
                            "status_code": 422
                          }
                        }
                      ]
                    }
                  ],
                  "contentMediaType": "application/json"
                },
                "example": {
                  "error": {
                    "code": "invalid",
                    "message": "message about incorrect parameter",
                    "status_code": 422
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/buckslips/{buckslip_id}/orders": {
      "get": {
        "tags": [
          "Buckslip Orders"
        ],
        "summary": "buckslip_orders_retrieve",
        "description": "Retrieves the buckslip orders associated with the given buckslip id.",
        "operationId": "buckslip_orders_retrieve",
        "parameters": [
          {
            "name": "buckslip_id",
            "in": "path",
            "description": "The ID of the buckslip to which the buckslip orders belong.",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^bck_[a-zA-Z0-9]+$",
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "How many results to return.",
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 100.0,
              "minimum": 1.0,
              "type": "integer",
              "contentEncoding": "int32",
              "default": 10,
              "examples": [
                10
              ]
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "An integer that designates the offset at which to begin returning results. Defaults to 0.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "contentEncoding": "int32",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the buckslip orders associated with the given buckslip id",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BuckslipsOrdersResponse"
                    },
                    {
                      "examples": [
                        {
                          "data": [
                            {
                              "id": "bo_e0f8a0562a06bea7f",
                              "buckslip_id": "bck_6afffd19045076c",
                              "status": "available",
                              "quantity_ordered": 5000,
                              "unit_price": 0.75,
                              "cancelled_reason": "No longer needed",
                              "availability_date": "2021-10-12T21:41:48.326Z",
                              "expected_availability_date": "2021-11-04T21:03:18.871Z",
                              "date_created": "2021-10-07T21:03:18.871Z",
                              "date_modified": "2021-10-16T01:00:30.144Z",
                              "object": "buckslip_order"
                            }
                          ],
                          "object": "list",
                          "next_url": null,
                          "previous_url": null,
                          "count": 1
                        }
                      ]
                    }
                  ],
                  "contentMediaType": "application/json"
                },
                "example": {
                  "data": [
                    {
                      "id": "bo_e0f8a0562a06bea7f",
                      "buckslip_id": "bck_6afffd19045076c",
                      "status": "available",
                      "quantity_ordered": 5000,
                      "unit_price": 0.75,
                      "cancelled_reason": "No longer needed",
                      "availability_date": "2021-10-12T21:41:48.326Z",
                      "expected_availability_date": "2021-11-04T21:03:18.871Z",
                      "date_created": "2021-10-07T21:03:18.871Z",
                      "date_modified": "2021-10-16T01:00:30.144Z",
                      "object": "buckslip_order"
                    }
                  ],
                  "object": "list",
                  "next_url": null,
                  "previous_url": null,
                  "count": 1
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BuckslipsOrders0Error1"
                    },
                    {
                      "examples": [
                        {
                          "error": {
                            "code": "not_found",
                            "message": "buckslip not found",
                            "status_code": 404
                          }
                        }
                      ]
                    }
                  ],
                  "contentMediaType": "application/json"
                },
                "example": {
                  "error": {
                    "code": "not_found",
                    "message": "buckslip not found",
                    "status_code": 404
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Buckslip Orders"
        ],
        "summary": "buckslip_order_create",
        "description": "Creates a new buckslip order given information",
        "operationId": "buckslip_order_create",
        "parameters": [
          {
            "name": "buckslip_id",
            "in": "path",
            "description": "The ID of the buckslip to which the buckslip orders belong.",
            "required": true,
            "style": "simple",
            "schema": {
              "pattern": "^bck_[a-zA-Z0-9]+$",
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/Content-Type"
                },
                {}
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": [
                  "quantity"
                ],
                "type": "object",
                "properties": {
                  "quantity": {
                    "maximum": 10000000.0,
                    "minimum": 5000.0,
                    "type": "integer",
                    "description": "The quantity of buckslips in the order (minimum 5,000).",
                    "contentEncoding": "int32",
                    "examples": [
                      10000
                    ]
                  }
                },
                "contentMediaType": "application/x-www-form-urlencoded"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Buckslip order created successfully",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/buckslip_order"
                    },
                    {
                      "examples": [
                        {
                          "id": "bo_e0f8a0562a06bea7f",
                          "buckslip_id": "bck_6afffd19045076c",
                          "status": "available",
                          "quantity_ordered": 10000,
                          "unit_price": 0.75,
                          "cancelled_reason": "No longer needed",
                          "availability_date": "2021-10-12T21:41:48.326Z",
                          "expected_availability_date": "2021-11-04T21:03:18.871Z",
                          "date_created": "2021-10-07T21:03:18.871Z",
                          "date_modified": "2021-10-16T01:00:30.144Z",
                          "object": "buckslip_order"
                        }
                      ]
                    }
                  ],
                  "contentMediaType": "application/json"
                },
                "examples": {
                  "basic": {
                    "value": {
                      "id": "bo_e0f8a0562a06bea7f",
                      "buckslip_id": "bck_6afffd19045076c",
                      "status": "available",
                      "quantity_ordered": 10000,
                      "unit_price": 0.75,
                      "cancelled_reason": "No longer needed",
                      "availability_date": "2021-10-12T21:41:48.326Z",
                      "expected_availability_date": "2021-11-04T21:03:18.871Z",
                      "date_created": "2021-10-07T21:03:18.871Z",
                      "date_modified": "2021-10-16T01:00:30.144Z",
                      "object": "buckslip_order"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/BuckslipsOrders0Error1"
                    },
                    {
                      "examples": [
                        {
                          "error": {
                            "code": "invalid",
                            "message": "message about incorrect parameter",
                            "status_code": 422
                          }
                        }
                      ]
                    }
                  ],
                  "contentMediaType": "application/json"
                },
                "example": {
                  "error": {
                    "code": "invalid",
                    "message": "message about incorrect parameter",
                    "status_code": 422
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/buckslips": {
      "get": {
        "tags": [
          "Buckslips"
        ],
        "summary": "buckslips_list",
        "description": "Returns a list of your buckslips. The buckslips are returned sorted by creation date, with the most recently created buckslips appearing first.",
        "operationId": "buckslips_list",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "How many results to return.",
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 100.0,
              "minimum": 1.0,
              "type": "integer",
              "contentEncoding": "int32",
              "default": 10,
              "examples": [
                10
              ]
            }
          },
          {
            "name": "before/after",
            "in": "query",
            "description": "`before` and `after` are both optional but only one of them can be in the query at a time.",
            "style": "form",
            "explode": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/beforeafter"
                },
                {
                  "description": "`before` and `after` are both optional but only one of them can be in the query at a time."
                }
              ]
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Request that the response include the total count by specifying `include=[\"total_count\"]`.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of buckslip objects",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuckslipsResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Buckslips0Error1"
                    },
                    {
                      "examples": [
                        {
                          "error": {
                            "code": "invalid",
                            "message": "message about incorrect parameter",
                            "status_code": 422
                          }
                        }
                      ]
                    }
                  ],
[...]
